.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.big_icon{
  transform: scale(7);
}

.med_icon{
  transform: scale(3);
  color: #DD7E6A
}

.form-text{
  color:#282c34;
}

#pink-button{
  background-color: #DD7E6A;
  width: 300px;
  height: 35px;
}

.form-check{
  color: #282c34;
  padding: 20px;
  float:left;
}

.check{
  float: left;
}

.full-form{
  background-color: whitesmoke;
  padding: 25px;
  border-radius: 5%
}

.full-form-add{
  background-color: whitesmoke;
  padding: 25px;
  border-radius: 5%;
  width: 65%;
}

#break{
  height: 30px;
}

.outlined-input{
  background-color: whitesmoke;
  margin: 15px;
  width: 300px;
}

.header-close{
  margin-top: 5px;
}

.fab{
  filter: invert(0%);
  background-color: transparent;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.nav_icon {
  transform: scale(2);
  color: #282c34;
}

.nav {
  background-color: #DD7E6A;
}

.search-icon {
  color: #DD7E6A;
}